<html>
<head>
    <link rel="stylesheet" href="resource/omna/libs/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resource/omna/css/styles.css"/>
</head>
<body>
<main>
    {{#item}}
        <div class="page-content">
            <div>
                <h4 class="breadcrumb">Details of order: {{number}}</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-md-4">
                            <label>Number</label>
                            <span class="form-control">{{number}}</span>
                        </div>
                        <div class="form-group col-md-8">
                            <label>Integration</label>
                            <span class="form-control">{{integration.name}} of {{integration.channel}}</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Total quantity</label>
                            <span class="form-control">{{total_quantity}}</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Total price</label>
                            <span class="form-control">{{total_price}}</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Status</label>
                            <span class="form-control">{{status}}</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Created at</label>
                            <span class="form-control">{{created_date}}</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Updated at</label>
                            <span class="form-control">{{updated_date}}</span>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Imported at</label>
                            <span class="form-control">{{last_import_date}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h4 class="breadcrumb">Line items:</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="col-md-3">Sku</label>
                        <label class="col-md-3">Name</label>
                        <label class="col-md-3">Quantity</label>
                        <label class="col-md-3">Price</label>
                    </div>
                </div>

                {{#line_items}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <span class="form-control">{{sku}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <span class="form-control">{{name}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <span class="form-control">{{quantity}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <span class="form-control">{{price}}</span>
                            </div>
                        </div>
                    </div>
                {{/line_items}}
            </div>

            <div>
                <h4 class="breadcrumb">Payments:</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="col-md-3">Method</label>
                        <label class="col-md-3">status</label>
                        <label class="col-md-3">amount</label>
                        <label class="col-md-3">currency</label>
                    </div>
                </div>

                {{#payments}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-md-3">
                                <span class="form-control">{{method}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <span class="form-control">{{status}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <span class="form-control">{{amount}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <span class="form-control">{{currency}}</span>
                            </div>
                        </div>
                    </div>
                {{/payments}}
            </div>

            <div>
                <h4 class="breadcrumb">Shipping address:</h4>
                {{#ship_address}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                <span class="form-control">{{first_name}}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label>
                                <span class="form-control">{{last_name}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Country</label>
                                <span class="form-control">{{country}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>State</label>
                                <span class="form-control">{{state}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>city</label>
                                <span class="form-control">{{city}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>district</label>
                                <span class="form-control">{{district}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>town</label>
                                <span class="form-control">{{town}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Phone</label>
                                <span class="form-control">{{phone}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Zip code</label>
                                <span class="form-control">{{zip_code}}</span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                {{#address}}
                                    <div class="form-group">
                                        <span class="form-control">{{.}}</span>
                                    </div>
                                {{/address}}
                            </div>
                        </div>
                    </div>
                {{/ship_address}}
            </div>

            <div>
                <h4 class="breadcrumb">Billing address:</h4>
                {{#bill_address}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                <span class="form-control">{{first_name}}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label>
                                <span class="form-control">{{last_name}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Country</label>
                                <span class="form-control">{{country}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>State</label>
                                <span class="form-control">{{state}}</span>
                            </div>
                            <div class="form-group col-md-4">
                                <label>city</label>
                                <span class="form-control">{{city}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>district</label>
                                <span class="form-control">{{district}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>town</label>
                                <span class="form-control">{{town}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Phone</label>
                                <span class="form-control">{{phone}}</span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Zip code</label>
                                <span class="form-control">{{zip_code}}</span>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                {{#address}}
                                    <div class="form-group">
                                        <span class="form-control">{{.}}</span>
                                    </div>
                                {{/address}}
                            </div>
                        </div>
                    </div>
                {{/bill_address}}
            </div>
        </div>
    {{/item}}
</main>
</body>
</html>