<html>
<head>
    <link rel="stylesheet" href="resource/omna/libs/bootstrap-3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resource/omna/css/styles.css"/>
</head>
<body>
<main>
    <div class="page-content">
        <h4 class="breadcrumb">Details of tenant: {{item.name}}</h4>
        <hr/>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Name</label>
                <span class="form-control">{{item.name}}</span>
            </div>
            <div class="form-group col-md-4">
                <label>Token</label>
                <span class="form-control">{{item.token}}</span>
            </div>
            <div class="form-group col-md-8">
                <label>Secret</label>
                <span class="form-control">{{item.secret}}</span>
            </div>
        </div>

        <h5 class="breadcrumb">User:</h5>

        <div class="row">
            <div class="form-group col-md-4">
                <label>Name</label>
                <span class="form-control">{{item.user.name}}</span>
            </div>
            <div class="form-group col-md-4">
                <label>eMail</label>
                <span class="form-control">{{item.user.email}}</span>
            </div>
        </div>

    </div>
</main>
</body>
</html>